{% extends 'base.html.twig' %}

{% block title %}{{ 'edit'|trans }} {{ 'TypeService'|trans }}{% endblock %}

{% block body %}
    <div class="col-sm-11 mx-auto mt-3">
        <h4>
            {{ 'edit'|trans }} {{ 'TypeService'|trans }}
        </h4>

        {{ include('type_service/_form.html.twig', {'button_label': 'Actualizar'}) }}

        <a href="{{ path('type_service_index') }}">
            {% include('default/_back.html.twig') %}
        </a>

        {{ include('type_service/_delete_form.html.twig') }}
    </div>
{% endblock %}
