{% extends 'base.html.twig' %}

{% block title %}{{ 'TypeService' | trans }} {{ 'index.list'|trans }}{% endblock %}

{% block body %}
    <div class="col-sm-11 mx-auto mt-3">
        <h3>{{ 'index.list'|trans }} "{{ 'TypeService' | trans }}"</h3>


        <table class="table">
            <thead>
            <tr class="text-center">
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Description'|trans }}</th>
                <th class="text-center"><i class="fa fa-cogs"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for type_service in type_services %}
                <tr class="text-center">
                    <td>{{ type_service.name }}</td>
                    <td>{{ type_service.description }}</td>
                    <td>
                        <a href="{{ path('type_service_show', {'id': type_service.id}) }}">
                            {% include('default/_show.html.twig') %}
                        </a>
                        <a href="{{ path('type_service_edit', {'id': type_service.id}) }}">
                            {% include('default/_edit.html.twig') %}
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no_records_found'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('type_service_new') }}">
            {% include('default/_new.html.twig') %}
        </a>
    </div>
{% endblock %}
