{% extends 'base.html.twig' %}

{% block title %}{{ 'create_new'|trans }}{{ 'TypeService'|trans}} {% endblock %}

{% block body %}
<div class="col-sm-11 mx-auto mt-3">
    <h4>{{ 'create_new'|trans }}{{ 'TypeService'|trans}}</h4>

    {{ include('type_service/_form.html.twig') }}

    <a href="{{ path('type_service_index') }}">
        {% include('default/_back.html.twig') %}
    </a>
</div>
{% endblock %}
