{% extends 'base.html.twig' %}

{% block title %}{{ 'show'|trans }} {{ 'TypeService'|trans }}  {% endblock %}

{% block body %}
    <div class="col-sm-11 mx-auto mt-3">
        <h4>
            {{ 'show'|trans }} {{ 'TypeService'|trans }}
        </h4>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_service.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name.generic'|trans }}</th>
                <td>{{ type_service.name }}</td>
            </tr>
            <tr>
                <th>{{ 'label.description'|trans }}</th>
                <td>{{ type_service.description }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('type_service_index') }}">
            {% include('default/_back.html.twig') %}
        </a>

        <a href="{{ path('type_service_edit', {'id': type_service.id}) }}">
            {% include('default/_edit.html.twig') %}
        </a>

        {{ include('type_service/_delete_form.html.twig') }}
    </div>
{% endblock %}
