{% extends 'base.html.twig' %}

{% block title %}{{ 'ServiceManager'|trans }} {{ 'index.list'|trans }}{% endblock %}

{% block body %}
<div class="col-sm-11 mx-auto mt-3">
    <h4>{{ 'index.list'|trans }} {{ 'ServiceManager'|trans }} </h4>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'name.generic'|trans }}</th>
                <th>{{ 'email.generic'|trans }}</th>
                <th>{{ 'phone.generic'|trans }}</th>
                <th class="text-center"><i class="fa fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for service_manager in service_managers %}
            <tr>
                <td>{{ service_manager.name }}</td>
                <td>{{ service_manager.email }}</td>
                <td>{{ service_manager.phone }}</td>
                <td class="text-center">
                    <a href="{{ path('service_manager_show', {'id': service_manager.id}) }}">
                        {% include('default/_show.html.twig') %}
                    </a>
                    <a href="{{ path('service_manager_edit', {'id': service_manager.id}) }}">
                        {% include('default/_edit.html.twig') %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">
                    {{ 'no_records_found'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('service_manager_new') }}">
        {% include('default/_new.html.twig') %}
    </a>
</div>
{% endblock %}
