{% extends 'base.html.twig' %}

{% block title %}{{ 'ServiceManager'|trans }}{{ 'create_new'|trans }}{% endblock %}

{% block body %}
<div class="col-sm-11 mx-auto mt-3">
    <h4>{{ 'create_new'|trans }} {{ 'ServiceManager'|trans }}</h4>

    {{ include('service_manager/_form.html.twig') }}

    <a href="{{ path('service_manager_index') }}">
        {% include('default/_back.html.twig') %}
    </a>
</div>
{% endblock %}
