{% extends 'base.html.twig' %}

{% block title %}{{ 'ServiceManager'|trans }} {{'show'|trans }}{% endblock %}

{% block body %}
<div class="col-sm-11 mx-auto mt-3">
    <h4>{{ 'show'|trans }} {{ 'ServiceManager'|trans }}</h4>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service_manager.id }}</td>
            </tr>
            <tr>
                <th>{{ 'name.generic'|trans }}</th>
                <td>{{ service_manager.name }}</td>
            </tr>
            <tr>
                <th>{{ 'email.generic'|trans }}</th>
                <td>{{ service_manager.email }}</td>
            </tr>
            <tr>
                <th>{{ 'phone.generic'|trans }}</th>
                <td>{{ service_manager.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_manager_index') }}">
        {% include('default/_back.html.twig') %}
    </a>

    <a href="{{ path('service_manager_edit', {'id': service_manager.id}) }}">
        {% include('default/_edit.html.twig') %}
    </a>

    {{ include('service_manager/_delete_form.html.twig') }}
</div>
{% endblock %}
